@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-100;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .overflow-wrap-anywhere {
    overflow-wrap: anywhere;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-in-from-bottom {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-in {
    animation: fade-in 0.3s ease-out;
  }

  .fade-in {
    animation: fade-in 0.3s ease-out;
  }

  .slide-in-from-bottom-2 {
    animation: slide-in-from-bottom 0.3s ease-out;
  }
}
